.contactsParent{
    border: 3px solid aqua
}

input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul,li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}