.contactsParent{
    border: 4px solid aqua;
    margin: 0;
}

.formParent{
    border: 1px solid red;
    margin: 0;
    padding: 1rem 1rem;
    text-align: center;
}

.formInput{
  display: inline-block;
  border: 1px solid red;
  padding: 0;
  vertical-align: middle;
}

.addButton{
  margin: 5px 50px 0px 50px;
  width: fit-content;
  border: 1px solid red;
}

input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul,li{
    margin: 0px;
    padding: 1px;
    list-style-type: none;
    background-color: #50b856;
}