.contactsParent{
    margin: 0;
}

.contactsParent > p {
  margin: 0 2px 1px auto;
  width: fit-content;
  font-size: 7px;
  text-align: left;
}

.formParent{
  margin-top: 0;
  margin-bottom: 10px;
  padding: 1px;
  text-align: center;
}

.formParent > h3 {
  margin: 0;
}

.addButton{
  margin: 0px auto 0px auto;
  width: fit-content;
}

.listDiv{
  margin: 0 auto 0 auto;
  width: 85%;
}

.listDiv > h3 {
  margin: 0 auto 5px auto;
}

.listDiv > p {
  width: fit-content;
  margin-top: 0;
  margin-right: 10%;
  font-size: small;
  font-style: italic;
  text-align: left;
}

.listDiv > ul > li {
  background-color: #fff8e7;
  padding: 5px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

input{
    width: 61%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}